<div class="modal-content">
	<div class="modal-header justify-content-between" style="padding: 0 10px 0 10px;">
		<h5 class="modal-title">{{data?.title}}</h5>
		<button type="button" class="btn close float-right" aria-label="Close"
			(click)="onCancel()">
			<span aria-hidden="true" style="font-size: 30px;">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form [formGroup]="userForm">
			<div class="row mb-3">
				<div class="form-group col">
					<input type="text" class="form-control" formControlName="first_name" placeholder="First name">
					<div *ngIf="formControl['first_name'].invalid && formControl['first_name'].touched" class="form-error">
						<div *ngIf="formControl['first_name'].hasError('required')">First name is required.</div>
					</div>
				</div>
				<div class="form-group col">
					<input type="text" class="form-control" formControlName="last_name" placeholder="Last name">
					<div *ngIf="formControl['last_name'].invalid && formControl['last_name'].touched" class="form-error">
						<div *ngIf="formControl['last_name'].hasError('required')">Last name is required.</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col">
					<input type="text" class="form-control" formControlName="email" placeholder="Email">
					<div *ngIf="formControl['email'].invalid && formControl['email'].touched" class="form-error">
						<div *ngIf="formControl['email'].hasError('required')">Email is required.</div>
						<div *ngIf="formControl['email'].hasError('email')">Email is invalid.</div>
					</div>
				</div>
				<div class="form-group col">
					<input type="text" class="form-control" formControlName="phone" placeholder="Phone number">
					<div *ngIf="formControl['phone'].invalid && formControl['phone'].touched" class="form-error">
						<div *ngIf="formControl['phone'].hasError('required')">Phone number is required.</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<div class="action-btn d-flex gap-2">
			<button class="btn btn-success" (click)="onSubmit()">Submit</button>
			<button class="btn btn-danger" (click)="onCancel()">Cancel</button>
		</div>
	</div>
</div>